@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

::placeholder {
  color: white;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-image: url("https://images3.alphacoders.com/812/812062.png");
}

body ::selection {
  color: #04d939;
  background: rgb(32, 35, 41);
}

body {
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.CompareComp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Character {
  margin-top: 5%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #888;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.Character:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #888;
}

.Character > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Character > img {
  width: 250px;
  height: 250px;
  margin-top: 2%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.Character > div {
  margin-top: 1%;
  margin-bottom: 1%;
}

.dead {
  color: #ffcdcd;
}

.alive {
  color: #07fa44;
  font-weight: bold;
}

.SearchAndResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputAndSearchIcon {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  border: solid 1px #888;
  border-radius: 10px;
  width: 300px;
}

.inputAndSearchIcon > img {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

.SearchInput {
  line-height: 20px;
  background: transparent;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  color: white;
}

.SearchResultsContainter {
  margin-top: 5px;
  width: 280px;
  height: 150px;
}

.ShowScroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.Result {
  cursor: pointer;
  border: thick double #464849;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100px;
}

.Result > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.Result > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.StatusAndXBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0;
    padding-top: 200px;
  }

  body {
    font-size: 14px;
  }

  .CompareComp {
    width: 40vw;
  }

  .Character {
    width: 100%;
  }

  .Character > img {
    width: 150px;
    height: 150px;
  }

  .SearchAndResults {
    width: 150px;
  }

  .inputAndSearchIcon,
  .SearchResultsContainter {
    width: 100%;
  }

  .SearchInput {
    line-height: 0px;
    border: none;
    font-size: 0.7rem;
    font-family: var(--font-raleway);
    outline: none;
    width: 150px;
  }

  .inputAndSearchIcon {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: space-around;
    border: solid 1px white;
    border-radius: 10px;
    line-height: 15px;
    height: 30px;
    width: 130px;
  }
  .inputAndSearchIcon > img {
    width: 25px;
    padding-right: 10px;
  }

  .Result > img {
    width: 40px;
    height: 40px;
  }

  .Result {
    padding: 10px;
    width: 100%;
    height: 75px;
  }

  .SearchResultsContainter {
    height: 30vh;
  }
}
